asgiref
beautifulsoup4
boto3
botocore
click
colorama
dj-database-url
Django
django-bootstrap4
django-bootstrap5
django-filter
django-heroku
django-storages
docutils
Flask
Flask-Autodoc @ git+https://github.com/lukeyeager/flask-autodoc.git@375dd08c702fbf352baca5c974be5311ef30aa67
gunicorn
itsdangerous
Jinja2
jmespath
MarkupSafe
Pillow
psycopg2
psycopg2-binary
python-dateutil
python-decouple
python-gettext
pytz
s3transfer
six
soupsieve
South
sqlparse
tzdata
urllib3
Werkzeug
whitenoise
pytest