{% extends 'base/main.html' %}
{% block content %}
    <div class="flex flex-col items-center justify-center min-h-screen bg-blue-100">
        <div class="flex mt-10 justify-center items-center">
            <div class="w-full max-w-md justify-center items-center p-8 rounded-lg shadow-md bg-blue-300">
                <h1 class="text-2xl font-semibold mb-6 text-center">To-Do List</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="mb-4">
                        {{ form.title.label_tag }}
                        <div class="w-full">
                            {{ form.title }}
                        </div>
                        {% for error in form.title.errors %}
                            <p class="text-red-500">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="mb-4">
                        {{ form.description.label_tag }}
                        <div class="w-full">
                            {{ form.description }}
                        </div>
                        {% for error in form.description.errors %}
                            <p class="text-red-500">{{ error }}</p>
                        {% endfor %}
                    </div>

                    <div class="mb-4">
                        {{ form.complete.label_tag }}
                        <div class="w-full">
                            {{ form.complete }}
                        </div>
                        {% for error in form.complete.errors %}
                            <p class="text-red-500">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="mt-6">
                        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">save</button>
                        <input class="bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded" type=button value="exit" onClick="javascript:history.go(-1);">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
