{% extends 'base/main.html' %}

{% block content %}
{% load urls_extra %}
    
<div class="flex flex-col items-center min-h-screen bg-blue-100 py-10">
    <div class="items-center justify-center bg-blue-300 px-5 py-10">

    <div class="flex justify-between items-center bg-blue-900 text-white px-5 py-5">
        <div>
            <h1 class="text-2xl font-bold">Hello {{request.user|title}}</h1>
            <h3 class="text-lg">You have <b>{{count}} </b> incomplete task</h3>
        </div>
        {% if request.user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class="bg-white text-blue-500 font-bold py-2 px-4 rounded hover:bg-blue-200" type="submit">Logout</button>
        </form>
        {% else %}
            <a href="{% url 'login' %}" class="bg-white text-blue-500 font-bold py-2 px-4 rounded hover:bg-blue-200">Login</a>
        {% endif %}
    </div>

    <div class="flex justify-end items-center mx-4 my-2">
        <a id="add-link" href="{% url 'create' %}" class="mr-5 bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700">+new todo</a>

        {% if todos|length > 0 %}
                    <form class="flex" role="search" method="GET" action="" >
                        <input class="border border-gray-300 rounded py-2 px-3" type="text" placeholder="Search..." name="search" value="{{request.GET.search}}">
                        <button class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700 mr-5" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                    

                <div class="relative">
                    <button class="bg-blue-500 text-white font-bold py-2 px-4 rounded inline-flex items-center hover:bg-blue-700" type="button" data-dropdown-toggle="dropdown">
                        <i class="fa fa-filter mr-2" aria-hidden="true"></i>Filter
                    </button>
                    <ul id="dropdown" class="hidden absolute right-0 bg-white shadow-md rounded mt-2 py-2 w-48">
                        <li><a class="block px-4 py-2 hover:bg-gray-100" href="{% relative_url 'finished' 'filter' request.GET.urlencode %}">finished</a></li>
                        <li><a class="block px-4 py-2 hover:bg-gray-100" href="{% relative_url 'notfinished' 'filter' request.GET.urlencode %}">not finished</a></li>
                        <li><a class="block px-4 py-2 hover:bg-gray-100" href="{% relative_url 'today' 'filter' request.GET.urlencode %}">Today</a></li>
                        <li><a class="block px-4 py-2 hover:bg-gray-100" href="{% relative_url 'last3' 'filter' request.GET.urlencode %}">last 3 days</a></li>
                        <li><a class="block px-4 py-2 hover:bg-gray-100" href="{% relative_url 'lastweek' 'filter' request.GET.urlencode %}">last week</a></li>
                        <li><a class="block px-4 py-2 hover:bg-gray-100" href="{% relative_url 'last30' 'filter' request.GET.urlencode %}">last 30 DAYS</a></li>
                        <li><a class="block px-4 py-2 hover:bg-gray-100" href="{% relative_url 'lastyear' 'filter' request.GET.urlencode %}">last year</a></li>
                    </ul>
                </div>
    </div>
            
        <table class="my-10 w-full border border-blue-500 bg-blue-100 rounded">
            <thead>
                <tr class="bg-blue-500 text-white">
                    <th class="py-2 px-4">Completed
                        {% if angle1 == '0' %}
                            <a class="text-white hover:text-blue-200" href="{% relative_url '-complete' 'sort' request.GET.urlencode %}"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
                        {% endif %}
                        {% if angle1 == '1' %}
                            <a class="text-white hover:text-blue-200" href="{% relative_url 'complete' 'sort' request.GET.urlencode %}"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        {% endif %}
                    </th>
                    <th class="py-2 px-4">Title
                        {% if angle2 == '0' %}
                            <a class="text-white hover:text-blue-200" href="{% relative_url '-title' 'sort' request.GET.urlencode %}"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
                        {% endif %}
                        {% if angle2 == '1' %}
                            <a class="text-white hover:text-blue-200" href="{% relative_url 'title' 'sort' request.GET.urlencode %}"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        {% endif %}
                    </th>
                    <th class="py-2 px-4">Date&Time
                        {% if angle3 == '0' %}
                            <a class="text-white hover:text-blue-200" href="{% relative_url '-created' 'sort' request.GET.urlencode %}"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
                        {% endif %}
                        {% if angle3 == '1' %}
                            <a class="text-white hover:text-blue-200" href="{% relative_url 'created' 'sort' request.GET.urlencode %}"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        {% endif %}
                    </th>
                    <th class="py-2 px-4">Update</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in todos %}
                <tr>
                    <td class="flex items-center justify-center">
                        <input type="checkbox" class="form-checkbox" onclick="location.href='{% url 'toggle_finish' todo.id %}'" {% if todo.complete %} checked {% endif %}>
                    </td>
                    <td class="text-center">{{ todo.title }}</td>
                    <td class="text-center">{{ todo.created }}</td>
                    <td class="text-center">
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'update' todo.id %}" class="text-blue-500 hover:text-blue-700">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            
            </tbody>
            </table>
            
            {% else %}
                no items"
                <br><br>
                <div>
                    <input class="bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded" type=button value="exit" onClick="javascript:history.go(-1);">
                </div>
            {% endif %}
            
            </div>
        </div>
    </div>

</div>
</div>
<script>
    const dropdownButton = document.querySelector('[data-dropdown-toggle="dropdown"]');
    const dropdownMenu = document.querySelector('#dropdown');

    dropdownButton.addEventListener('click', () => {
        dropdownMenu.classList.toggle('hidden');
    });
</script>
{% endblock content %}